<div class="register_form">
  <%= simple_form_for @contact do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.input :name,   label: "Nombre",            class: "form-control" %>
  <%= f.input :email, label: "Email",              class: "form-control" %>
  <%= f.input :phone, label: "Teléfono",           class: "form-control" %>
  <%= f.input :comment,   label: "Comentarios", as: :text, :input_html => { :rows => 10 },
                                                   class: "form-control" %>
  <% if params[:action] == 'new' %>
  <%= f.submit "Déjanos tus datos", class: "btn btn-block btn-primary" %>
  <% else %>
  <%= f.submit "Guardar cambios",   class: "btn btn-block btn-primary" %>
  <%= link_to "Borrar contacto", @contact, method: :delete, 
  data: { confirm: "¿Estás seguro de borrar el contacto '#{@contact.title}'?" },
                                    class: "btn btn-danger btn-block" %>
  <% end %>
  <% end %>
</div>
