<header>
  <div class="container">
    <div class="row">
      <div class="col-md-1">
        <%= link_to image_tag("logo.jpg", :style => "height:110px;"), 
        root_path %>
      </div>
      <div class="col-md-11">
        <nav class="navigation">
        <ul id="nav">
          <h4><li><%= link_to "Contacto", "#" %></li></h4>
          <h4><li><%= link_to "Preguntas Frecuentes", "#" %></li></h4>
          <h4><li><%= link_to "Financiamiento", "#" %></li></h4>
          <h4><li><%= link_to "Productos", "#" %></li></h4>
        </ul>
        </nav>
      </div>
    </div>
  </div>
</header>