<header>
  <div class="container">
    <div class="row header">
      <div class="col-md-1">
        <%= link_to image_tag("logo.gif", :style => "height:110px;"), root_path %>
      </div>
      <div class="col-md-11">
        <nav class="navigation">
        <ul id="nav">
          <h4><li><%= link_to "Contacto", "#", :class => "header_link" %></li></h4>
          <h4><li><%= link_to "Preguntas Frecuentes", "#", :class => "header_link" %></li></h4>
          <h4><li><%= link_to "Financiamiento", "#", :class => "header_link" %></li></h4>
          <h4><li><%= link_to "Productos", "#", :class => "header_link" %></li></h4>
        </ul>
        </nav>
      </div>
    </div>
  </div>
</header>